body {
  margin: 0;
  font-family: "Maison Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
  margin-top: 20px;
}

input[type="checkbox"],
button {
  cursor: pointer;
}

input,
button {
  outline: none;
}

img {
  pointer-events: none;
}

